@use '@/styles/mixins' as mix;

.page {
  text-align: center;

  .content {
    padding: 60px 0;

    .documents {
      max-width: 1200px;
      margin: 0 auto;
    }
  }

  @include mix.media-down('md') {
    .hero {
      padding: 40px 0;

      h1 {
        font-size: 24px;
      }
    }

    .content {
      padding: 24px 0;


    }

    .subtitle {
      font-size: 14px;
    }
  }
} 