.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: visible;
}

.main {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
  overflow: visible;
  flex: 1;
}

.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;

  :global {
    .ant-layout {
      // min-height: 100vh;
      background: red;
    }
  }
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 16px;
  padding-left: 16px;

  @media (min-width: 576px) {
    max-width: 540px;
  }

  @media (min-width: 768px) {
    max-width: 720px;
  }

  @media (min-width: 992px) {
    max-width: 960px;
  }

  @media (min-width: 1200px) {
    max-width: 1140px;
  }

  @media (min-width: 1400px) {
    max-width: 1320px;
  }
}

.content {
  flex: 1;
} 