@use "@/styles/mixins" as mix;

.promo {
  padding: 48px 0;
  // background: #f5f5f5;
}

.content {
  display: flex;
  align-items: center;
  gap: 48px;
}

.info {
  flex: 2;

  h2 {
    margin-bottom: 24px;
  }
}

.title {
  text-align: right;

  @include mix.media-down("lg") {
    text-align: center;
  }
}

.description {
  font-size: 18px;
  margin-bottom: 32px !important;
  text-align: right;

  @include mix.media-down("lg") {
    text-align: center;
  }
}

.image {
  flex: 1;
  cursor: pointer;
  transition: transform 0.3s;
  &:hover {
    transform: scale(1.05);
  }

  img {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;

  @include mix.media-down("lg") {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 992px) {
  .content {
    flex-direction: column-reverse;
    text-align: center;
  }

  .info {
    :global(.ant-space) {
      justify-content: center;
    }
  }
}

@media (max-width: 576px) {
  .info {
    :global(.ant-space) {
      display: flex;
      flex-direction: column;
    }
  }
}
