@use '@/styles/variables' as vars;
@use '@/styles/mixins' as mix;
@use 'sass:map';

.news {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 48px;
  position: relative;
  z-index: 2;
  overflow: visible;
  flex-grow: 1;
  background-color: map.get(vars.$colors, 'background');

  > section {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 48px;
  }

  @include mix.media-down('md') {
      gap: 0px;
  }   
} 

