@use "sass:color";
@use "@/styles/mixins" as mix;

.social {
  display: flex;
  gap: 16px;

  @include mix.media-down("md") {
    justify-content: center;
  }

  a {
    display: flex;
    align-items: center;
    color: var(--text-color);
    font-size: 28px;
    transition: color 0.3s;

    &:hover {
      color: color.adjust(#027333, $lightness: -10%);
    }
  }
}
