@use '@/styles/mixins' as mix;

.wrapper {
  flex: 1;
}

.menu {
  border-bottom: none;
  line-height: 46px;
  background: transparent;

  :global {
    .ant-menu-item, 
    .ant-menu-submenu {
      padding: 0 16px;
      margin: 0 8px;

      &::after {
        display: none;
      }
    }

    .ant-menu-submenu-title {
      padding: 0 !important;
    }

    a {
      color: rgba(0, 0, 0, 0.88);
      text-decoration: none;
    }
  }
}

.mobileMenu {
  border-inline-end: none !important;
  font-size: 14px;

  
  :global {
    .ant-menu-submenu {
      margin: 0;
      padding: 0;

      .ant-menu-inline {
        width: 98% !important;
      }
    }

    .ant-menu-submenu-title {
      padding-left: 24px !important;
      margin-left: 0;
    }

    
  }
}

.arrow {
  font-size: 12px;
  margin-left: 4px;
  opacity: 0.5;
}

@media (max-width: 768px) {
  .arrow {
    display: none;
  }
}
